.header {
  height: 100vh;
}

.header::after {
  background-attachment: fixed;
}

.company img {
  width: 100px;
  -webkit-filter: drop-shadow(-2px 2px 2px black);
          filter: drop-shadow(-2px 2px 2px black);
}

nav {
  margin: 2em 0;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav li {
  display: block;
  margin: 0 1em;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  opacity: 0;
  -webkit-animation: fadeIn 2s ease 0.5s;
          animation: fadeIn 2s ease 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  cursor: pointer;
}

nav li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

nav a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.6em 0.5em;
  z-index: 30;
}

nav a:hover {
  color: inherit;
  text-decoration: none;
}

.container-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hamburger {
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: none;
  z-index: 4;
}

.line {
  width: 100%;
  height: 4px;
  margin-bottom: 0.9em;
  border-radius: 4px;
  background-color: #414143;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.quote-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80%;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.quote-block .quote-flex {
  width: 55%;
  padding-right: 2em;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.quote-block .quote-flex #quote {
  color: #f5f5f5;
  text-shadow: 3px 2px black;
  font-size: 2.5rem;
  pointer-events: none;
  opacity: 0;
  -webkit-animation: fadeIn 3s ease 1s;
          animation: fadeIn 3s ease 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media (max-width: 1150px) {
  html {
    font-size: 14px;
  }
  .quote-block .quote-flex {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  .quote-block .quote-flex #quote {
    font-size: 2rem;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 12px;
  }
  .quote-block .quote-flex #quote {
    font-size: 2rem;
  }
}

@media (max-width: 1150px) {
  html {
    font-size: 16px;
  }
  .company {
    padding-top: 0.5em;
    z-index: 2;
  }
  .nav-links {
    position: fixed;
    right: -100vw;
    top: 0px;
    width: 100vw;
    height: 105vh;
    background-color: #72727281;
    z-index: 2;
    opacity: 1;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    pointer-events: none;
  }
  nav {
    height: 100%;
  }
  nav ul {
    height: 100%;
    margin-top: 10vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav li {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #f5f5f5;
  }
  nav a {
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    color: #f5f5f5;
  }
  nav a:hover {
    color: inherit;
    font-size: 1.7rem;
  }
  .hamburger {
    display: block;
    padding-top: 0.6em;
  }
  .scrollbar,
  .simplebar-content {
    height: 100%;
  }
  .simplebar-scrollbar::before {
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(#dabed7), to(transparent));
    background: linear-gradient(to bottom, transparent, #dabed7, transparent);
  }
  .simplebar-track.simplebar-vertical {
    width: 18px;
  }
}

@media (max-width: 720px) {
  .quote-block .quote-flex {
    width: 70%;
  }
  .header {
    height: 75vh;
  }
  .header::after {
    background-attachment: scroll;
  }
  .nav-links-active {
    right: -20vw;
  }
}

.nav-links-active {
  pointer-events: all;
  opacity: 1;
  right: 0;
}

.line1.toggler {
  -webkit-transform: rotate(-44deg) translate(-4px, 9.5px);
          transform: rotate(-44deg) translate(-4px, 9.5px);
}

.line2.toggler {
  opacity: 0;
  display: inline;
}

.line3.toggler {
  -webkit-transform: rotate(44deg) translate(-4px, -9.5px);
          transform: rotate(44deg) translate(-4px, -9.5px);
}

.line.toggler {
  background-color: #f5f5f5;
}

.dark-text {
  color: #222;
}

.light-text {
  color: #f5f5f5;
}

@media (min-width: 1150px) {
  .simplebar-mask,
  .simplebar-offset,
  .simplebar-placeholder {
    all: unset;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.carousel-bg {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #888d8e;
  background: radial-gradient(circle, #888d8e 7%, #626262 26%, #171717 86%);
}

.carousel-wrap {
  height: 100%;
  margin: 0 auto;
  padding: 2em 0;
}

.carousel {
  width: 100%;
  margin: 0 auto;
}

.carousel-img {
  opacity: 1;
}

.caption {
  width: 50%;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#root > div.carousel-bg > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel-inner {
  margin: auto;
}

.caption-flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.caption-flex h1 {
  font-size: 3.5rem;
  margin-bottom: 0;
  text-shadow: -2px 2px 1px black;
  pointer-events: none;
}

.caption-flex a {
  text-decoration: none;
  padding-left: 0.5em;
  font-size: 2rem;
  text-shadow: -2px 2px 1px black;
  color: #f5f5f5;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.caption-flex a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  text-decoration: underline;
}

.darken-img {
  -webkit-filter: brightness(85%);
          filter: brightness(85%);
}

.carousel-item {
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

@media (max-width: 1150px) {
  .caption-flex h1 {
    font-size: 2.5rem;
  }
  .caption-flex a {
    font-size: 1rem;
  }
}

@media (max-width: 720px) {
  .caption-flex h1 {
    font-size: 1.5rem;
  }
  .caption-flex a {
    font-size: 1rem;
  }
}

.wrapper {
  width: 100%;
  background: radial-gradient(circle at left top, #aaa8a8, #e9e6e6);
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title h1 {
  color: #222;
  font-size: 3.5rem;
  margin: 0.4em auto;
}

.story p {
  color: #222;
  font-size: 1.1rem;
}

.italic-text {
  font-size: 1.25rem;
  font-weight: 500;
  font-style: italic;
}

#wine-cellar-popovi {
  font-size: 1.3rem;
}

.pics {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  padding: 2em 1em;
}

.pics img {
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1150px) {
  html {
    font-size: 14px;
  }
  .pics {
    all: unset;
    width: 90%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 20px;
    padding: 2em 1em;
  }
}

@media (max-width: 720px) {
  .title h1 {
    font-size: 2rem;
  }
  .story p {
    font-size: 1rem;
    text-align: center;
  }
}

.products-page {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 40px;
  place-items: center;
}

.product {
  background: #000;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body {
  width: 45%;
  -webkit-transform: translateX(150px);
          transform: translateX(150px);
  text-align: left;
  padding: 9em 0;
}

.body h1 {
  font-size: 4rem;
}

.product1 {
  background: url("../images/products/first.jpg") no-repeat;
}

.product2 {
  background: url("../images/products/second.jpg") no-repeat;
}

.product3 {
  background: url("../images/products/third.jpg") no-repeat;
}

.product4 {
  background: url("../images/products/fourth.jpg") no-repeat;
}

.product5 {
  background: url("../images/products/fifth.jpg") no-repeat;
}

@media (max-width: 1150px) {
  .body h1 {
    font-size: 3rem;
  }
}

@media (max-width: 820px) {
  .body {
    width: 100%;
    text-align: center;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    padding: 13em 2em;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .body h1,
  .body p {
    color: whitesmoke;
    text-shadow: -1px 1px 1px black;
  }
  .body p {
    font-weight: 400;
  }
}

footer {
  padding-top: 1em;
}

.footer-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1em 0;
  color: #f5f5f5;
}

.subscribe-form p {
  margin-bottom: 1em;
  font-size: 1rem;
}

.subscribe-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe-form form input {
  padding: 0.2em 0.5em;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  margin-right: 1em;
  background: #414143;
  color: #f5f5f5;
}

.subscribe-form form input::-webkit-input-placeholder {
  color: #f5f5f5;
}

.subscribe-form form input:-ms-input-placeholder {
  color: #f5f5f5;
}

.subscribe-form form input::-ms-input-placeholder {
  color: #f5f5f5;
}

.subscribe-form form input::placeholder {
  color: #f5f5f5;
}

.subscribe-form form button {
  padding: 0.3em 1.2em;
  border: none;
  border-radius: 5px;
  background: royalblue;
  color: #f5f5f5;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.subscribe-form form button:hover {
  background: #f5f5f5;
  color: royalblue;
}

.form-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-flex img {
  width: 90px;
  margin-left: 2em;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #f5f5f5;
}

.contact .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .address,
.contact .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
}

.contact .address-location * {
  margin: 0;
}

.contact .address-location p {
  font-size: 1rem;
}

.contact .address-location h6 {
  font-size: 1.1rem;
}

.contact img {
  display: block;
  width: 32px;
  margin-right: 0.8em;
}

.social-media {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.social-media .widget {
  padding: 0 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-media a {
  cursor: pointer;
}

.social-media a:hover {
  color: transparent;
}

.social-media img {
  display: block;
  margin: 0 auto;
  margin-bottom: 0.1em;
  width: 32px;
}

.social-media p {
  font-size: 0.9rem;
  color: #f5f5f5;
}

.social-media p:hover {
  color: gray;
}

.copyrights {
  border-top: 2px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 1em 0;
}

.copyrights p {
  margin-bottom: 0;
  display: block;
  text-align: center;
  color: #f5f5f5;
  font-weight: 400;
  font-size: 0.8rem;
}

@media (max-width: 1150px) {
  html {
    font-size: 14px;
  }
  .footer-grid {
    all: unset;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    place-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    justify-items: center;
  }
  .subscribe-form {
    margin-bottom: 1em;
  }
  .subscribe-form .form-flex {
    margin: 0 auto;
  }
  .contact .contact-info {
    width: 100%;
    margin: 0 auto;
    padding-right: 1.5em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (max-width: 720px) {
  .contact .contact-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 2em;
  }
  .form-flex img {
    display: none;
  }
}

* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.125rem;
  background: #333;
  overflow-x: hidden;
}

button {
  font-family: "Poppins", sans-serif;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}
/*# sourceMappingURL=index.css.map */